<div class="products-container">
  <div class="products-header">
    <mat-form-field
      appearance="fill"
      [hideRequiredMarker]="true"
      [formGroup]="filterForm"
    >
      <mat-label>Търсене...</mat-label>
      <mat-icon matIconPrefix>search</mat-icon>
      <input matInput type="text" formControlName="search" />
    </mat-form-field>
    <button mat-flat-button (click)="openProductEditor()">
      Добавяне на продукт
    </button>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let product of filteredProducts" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="card-title">{{ product.name }}</mat-card-title>
          <mat-card-subtitle>
            <div class="card-info">
              <div class="price">{{ product.price }}лв.</div>
              <div>
                <button
                  mat-button
                  color="primary"
                  (click)="openProductEditor(product)"
                >
                  Редактиране
                </button>
                <button
                  mat-button
                  color="warn"
                  (click)="deleteProduct(product)"
                >
                  Премахване
                </button>
              </div>
            </div>
          </mat-card-subtitle>
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
