<div class="products-container">
  <div class="card-container">
    <mat-card *ngFor="let product of products" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="card-title">{{ product.name }}</mat-card-title>
          <mat-card-subtitle>
            <div class="card-info">
              <div class="price">{{ product.price }}</div>
              <div>
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </div>
          </mat-card-subtitle>
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
