<h1 mat-dialog-title class="dialog-title">{{data.product ? "Редактиране на продукт" : "Добавяне на продукт"}}</h1>
<div mat-dialog-content class="dialog-content">
  <form class="product-form" [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Име...</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Категория...</mat-label>
      <mat-select formControlName="category">
        <mat-option
          *ngFor="let category of categories"
          [value]="category.name"
        >
          {{ category?.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Цена...</mat-label>
      <input type="number" matInput type="text" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Налично Количество...</mat-label>
      <input matInput type="text" formControlName="quantity" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Баркод...</mat-label>
      <input matInput type="text" formControlName="barcode" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onClose()">Прекрати</button>
  <button mat-flat-button (click)="editOrAddProduct()">{{data.product ? "Редактирай" : "Добави"}}</button>
</div>
