.dialog-title {
  background-color: cadetblue;
  color: white;
  text-align: center;
}
.dialog-content {
  .product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}
