.sale-terminal-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 1rem;
  gap: 0.5rem;

  .sale-terminal-products {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .empty-cart {
      width: 100%;
      text-align: center;
      height: 300px;
      align-content: center;
    }
    table {
      border: 1px solid #eded;
      border-radius: 1rem;
      padding: 1rem;
    }
  }

  .sale-terminal-total-summary {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;

    gap: 0.5rem;
    color: white;
    background: darkslategray;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 22px;

    .summary-total {
      flex: 1;
    }
    button {
      border-radius: 0;
      flex: 1;
    }
  }

  .sale-terminal-button-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    margin: 0 0.5rem;

    .sale-terminal-button {
      // border: 1px solid;
      text-align: center;
      button {
        font-size: 30px;
        background: darkslategray;
        color: white;
        border-radius: 0;
        width: 100%;
        height: 50px;
      }
    }
  }

  .terminal-options {
    border: 2px solid #ededed;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    .terminal-categories-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0.5rem;
      padding: 0 1rem;

      .terminal-categories-header {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
        grid-column: span 3 / span 3;
        border-bottom: 1px solid #ededed;

        .mat-mdc-form-field {
          width: 100%;
        }
      }

      .terminal-categories-content {
        display: flex;
        flex-direction: column;

        .category-image {
          width: 100%;
          height: 95px;
        }

        .category-text {
          width: 100%;
          height: 50px;
          padding: 1rem;
          margin: 0;
          border-radius: 0;

          background: darkslategray;
          text-align: center;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.point-of-sale-button {
}
